<form method="post" action="{{ path('app_publication_delete', {'id': publication.getIdPub()}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication.getIdPub()) }}">
    <button class="btn">Supprimer</button>
</form>
