{% extends 'base.html.twig' %}

{% block title %}New Profil{% endblock %}

{% block body %}
{% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}
    <h1>Créer nouveau Profil</h1>

    {{ include('profil/_form.html.twig') }}

    <a href="{{ path('app_profil_index') }}" class="btn btn-secondary">
  <i class="fas fa-arrow-left"></i> Revenir à la liste
</a>
     {% include 'FrontOffice/Components/footerbar.html.twig' %}
{% endblock %}
