{% extends 'base.html.twig' %}

{% block title %}Edit Projet{% endblock %}

{% block body %}
    {% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}

    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-4">Edit Projet</h1>
                {{ include('projet/_form.html.twig', {'button_label': 'Update'}) }}
<div class="d-flex justify-content-between">
    {{ include('projet/_delete_form.html.twig') }}
    <a href="{{ path('app_projet_index') }}"><strong>back to list</strong></a>

</div>

            </div>
        </div>
    </div>

    {% include 'FrontOffice/Components/footerbar.html.twig' %}
{% endblock %}
