{% extends 'base.html.twig' %}

{% block title %}Edit Typeprojet{% endblock %}

{% block body %}
{% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}

    <h1>Edit Typeprojet</h1>

    {{ include('typeprojet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_typeprojet_index') }}">back to list</a>

    {{ include('typeprojet/_delete_form.html.twig') }}
     {% include 'FrontOffice/Components/footerbar.html.twig' %}
{% endblock %}
