{% extends 'base.html.twig' %}

{% block title %}New Typeprojet{% endblock %}

{% block body %}
{% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}

    <h1>Create new Typeprojet</h1>

    {{ include('typeprojet/_form.html.twig') }}

    <a href="{{ path('app_typeprojet_index') }}">back to list</a>
    {% include 'FrontOffice/Components/footerbar.html.twig' %}
{% endblock %}
