{% extends 'base.html.twig'%}

{% block body %}
    {% include 'BackOffice/Components/Assets/icon.html.twig' %}
    {% include 'BackOffice/Components/Assets/cssBack.html.twig' %}
    <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->

    {% include 'BackOffice/Components/toolbar.html.twig' with {'getsion': getsion } %}
      
    <div class="main-panel">
      {% include 'BackOffice/Components/navbar.html.twig' %}

      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% include 'BackOffice/Components/formation.html.twig' %}
      {% include 'BackOffice/Components/footer.html.twig' %}
    </div>
  </div>
    
    {% include 'BackOffice/Components/toolbar.html.twig' %}

    
    {% include 'BackOffice/Components/Assets/jsback.html.twig' %}

    
{% endblock %}