{% block offre %}

<div class="content"> 
 
<br>
<br>
<br>


<a href="../profil/dashboard_show_profile/">    <label   class="btn btn-sm btn-primary btn-simple active" id="0">Liste de Profiles</label></a>
       <br>
<br>
<br>

<!--<a href="../publication/">    <label   class="btn btn-sm btn-primary btn-simple active" id="0">Liste de Publications</label></a> !-->
      </div>



{% endblock %}