{% extends 'base.html.twig'%}

{% block body %}

    {% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}


    <div style="display:flex;">

    <div>
        <ul id="myUL">
        {% for item in chapiters %}
        <li><span class="caret">{{ item.titre }}</span>
            
            <ul class="nested">
            {% for i in contenu.findByIdChapitre(item)%}
                <li>{{ i.titre }}</li>
            
            {% endfor %}
            </ul>
        </li>
        {% endfor %}
  
        </ul>
    </div>

    <div>
        {% set c = contenu.findByIdChapitre(chapiters[0])[0] %}
        {% set externalUrl = DropBox.getTemporaryLink(c.getLienContenu()) %}
        {% if c.getType() == "text" %}
        {% set text = httpClient.request('GET', externalUrl).getContent() %}
        <a>{{text}}</a>
        {% else %}
        <video controls > 
            <source src="{{externalUrl}}" type="video/mp4">
        </video>
        {% endif %}
        </a href="">Lesson Terminé</a>
    </div>
    </div>
    {% include 'FrontOffice/Components/footerbar.html.twig' %}
    {% include 'FrontOffice/Components/Assets/js.html.twig' %}
{% endblock %}